<!--sidebar start-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

      <aside id="menu" th:fragment="menuFragment">
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <!--{if $actionname == 'index' && $contrname == 'Index' } class="active" {/if}-->
                  <li th:class="${actionname == 'index' && contrname == 'Index'} ? 'active' : ''">
                      <a class="" href="/admin/index">
                          <i class="icon-dashboard"></i>
                          <span>后台首页</span>
                      </a>
                  </li>
                  <!--
                  <li {if $contrname == 'Index' && (in_array($actionname,array('contentclass','contentlist','contentadd')))} class="active" {else /} class="sub-menu " {/if}>
                      <a href="javascript:;" class="">
                          <i class="icon-book"></i>
                          <span>内容管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li {if $actionname == 'contentclass' } class="active" {/if}><a href="{:Url('admin/index/contentclass')}">栏目管理</a></li>
                          <li {if $actionname == 'contentlist' || $actionname == 'contentadd' } class="active" {/if}><a class="" href="{:Url('admin/index/contentlist')}">文章管理</a></li>
                          
                      </ul>
                  </li>
                  -->

                  <div th:style="'display:' + @{(${session.otype == 3} ? 'block' : 'none')} + ';'" >
                  <li th:class="${contrname == 'Goods'}? 'active' : 'sub-menu'"> <!--{if $contrname == 'Goods'} class="active" {else /} class="sub-menu " {/if}-->
                      <a href="javascript:;" class="">
                          <i class="icon-btc"></i>
                          <span>产品管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <!--{if $actionname == 'prolist' || $actionname == 'proadd' } class="active" {/if}-->
                          <li th:class="${actionname == 'prolist' || actionname == 'proadd'}?'active':''"><a  th:href="@{/admin/goods/prolist}">产品列表</a></li>
                          <!--{if $actionname == 'proclass' } class="active" {/if}-->
                          <li th:class="${actionname == 'proclass'}?'active':''" ><a  th:href="@{/admin/goods/proclass}">产品分类</a></li>
                          <!--{if $actionname == 'risk' } class="active" {/if}-->
                          <li th:class="${actionname == 'risk'}?'active':''"><a   th:href="@{/admin/goods/risk}">风控管理</a></li>
                          <!--{if $actionname == 'huishou' } class="active" {/if}-->
                          <li th:class="${actionname == 'huishou'}?'active':''"><a  th:href="@{/admin/goods/huishou}">产品回收站</a></li>

                          
                      </ul>
                  </li>
                  </div>
                  <!--{if $contrname == 'Order'} class="active" {else /} class="sub-menu " {/if}-->
                  <li th:class="${contrname == 'Order'}? 'active' : 'sub-menu'" >
                      <a href="javascript:;" class="">
                          <i class="icon-paste"></i>
                          <span>订单管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <!--{if $actionname == 'orderlist' } class="active" {/if}-->
                          <li th:class="${actionname == 'orderlist'}?'active':''" ><a class="" th:href="@{/admin/order/orderlist}">交易流水</a></li>
                          <!--{if $actionname == 'orderlog' } class="active" {/if}-->
                          <li th:class="${actionname == 'orderlog'}?'active':''" ><a class="" th:href="@{/admin/order/orderlog}">平仓日志</a></li>
                          
                          
                      </ul>
                  </li>
                  <!--{if $contrname == 'User' && ( in_array($actionname,array('userlist','useradd','userprice','userinfo','cash','myteam','chongzhi')) )} class="active" {else /} class="sub-menu " {/if}-->
                  <li th:class="${contrname == 'User' && #arrays.containsAll(actionname,array('userlist','useradd','userprice','userinfo','cash','myteam','chongzhi'))} ? 'active' : 'sub-menu'">
                      <a href="javascript:;" class="">
                          <i class="icon-user"></i>
                          <span>用户管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <!--{if in_array($actionname,array('userlist','useradd')) } class="active" {/if}-->
                          <!--${#arrays.containsAll(${actionname},array('userlist','useradd')}?'active':''-->
                          <li th:class="${actionname == 'userlist' && actionname == 'useradd'}?'active':''">
                          <a class="" th:href="@{/admin/user/userlist}">客户列表</a></li>
                          <!--{if in_array($actionname,array('myteam')) } class="active" {/if}-->

                          <li th:class="${actionname ==  'myteam'} ? 'active': ''" >
                          <a class="" href="{:Url('admin/user/myteam')}" th:href="@{/admin/user/myteam}">我的团队</a></li>
                          <!--{if $actionname == 'userprice' } class="active" {/if}-->
                          <li th:class="${actionname == 'userprice'} ? 'active': ''">
                          <a class="" href="{:Url('admin/user/userprice')}" th:href="@{/admin/user/userprice}">充值列表</a></li>
                          <!--{if $actionname == 'cash' } class="active" {/if}-->
                          <li th:class="${actionname == 'cash'} ? 'active': ''">
                          <a class="" href="{:Url('admin/user/cash')}" th:href="@{/admin/user/cash}">提现列表</a></li>
                          <!--{if $actionname == 'chongzhi' } class="active" {/if}>-->
                          <li th:class="${actionname == 'chongzhi'} ? 'active': ''" th:style="'display:' + @{(${session.otype == 3} ? 'block' : 'none')} + ';'">
                          <a class="" href="{:Url('admin/user/chongzhi')}" th:href="@{/admin/user/chongzhi}">手动充值</a></li>

                          <!-- <li {if $actionname == 'userinfo' } class="active" {/if}>
                          <a class="" href="{:Url('admin/user/userinfo')}">资料审核</a></li> -->
                          
                          
                      </ul>
                  </li>
<!-- 
                  <li {if $contrname == 'User' && ( in_array($actionname,array('vipuseradd','vipuserlist','usercode')) )} class="active" {else /} class="sub-menu " {/if}>
                      <a class="" href="javascript:;">
                          <i class="icon-user-md"></i>
                          <span>代理商管理 </span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                        
                          <li {if $actionname == 'vipuseradd' } class="active" {/if}>
                          <a class="" href="{:Url('admin/user/vipuseradd')}">添加代理商</a></li>

                          <li {if in_array($actionname,array('vipuserlist','usercode'))} class="active" {/if}>
                          <a class="" href="{:Url('admin/user/vipuserlist')}">代理商列表</a></li>


                      </ul>
                  </li>
                   -->
                  <!--{if $contrname == 'Price'} class="active" {else /} class="sub-menu " {/if}-->

                  <li th:class="${contrname == 'Price'} ? 'active' : 'sub-menu'" >
                      <a href="javascript:;" class="">
                          <i class="icon-yen"></i>
                          <span>报表管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">

                          <!--{if $actionname == 'allot' } class="active" {/if}-->
                          <li th:class="${actionname == 'allot'} ? 'active' : ''" >
                          <a class=""  th:href="@{/admin/price/allot}">红利报表</a></li>
                          <!--{if $actionname == 'yongjin' } class="active" {/if}-->
                          <li th:class="${actionname == 'yongjin'} ? 'active' : ''">
                          <a class=""  th:href="@{/admin/price/yongjin}">佣金报表</a></li>
                          <!--{if $actionname == 'pricelist' } class="active" {/if}-->
                          <li th:class="${actionname == 'pricelist'} ? 'active':''">
                          <a class="" th:href="@{/admin/price/pricelist}">资金报表</a></li>
                          <!--{if $actionname == 'myprice' } class="active" {/if}-->
                          <li th:class="${actionname == 'myprice'} ? 'active' : ''">
                          <a class=""  th:href="@{/admin/price/myprice}">个人报表</a></li>
                          
                      </ul>
                  </li>
                  
                  <div th:style="'display:' + @{(${session.otype == 3} ? 'block' : 'none')} + ';'">

                  <!--{if $contrname == 'Setup' } class="active" {else /} class="sub-menu" {/if}-->
                  <li th:class="${contrname == 'Setup'} ? 'active' : 'sub-menu'">
                      <a href="javascript:;" class="">
                          <i class="icon-paste"></i>
                          <span>参数设置</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <!--{if $contrname == 'Setup' && $actionname == 'index'} class="active" {/if}-->
                          <li  th:class="${contrname == 'Setup'&& actionname == 'index'} ? 'active' : ''" >
                            <a class="" href="{:Url('admin/Setup/index')}" th:href="@{/admin/Setup/index}">基本设置</a>
                          </li>
                          <!--{if $contrname == 'Setup' && $actionname == 'proportion'} class="active" {/if}-->
                          <li th:class="${contrname == 'Setup' && actionname == 'proportion'} ? 'active' : ''" >
                            <a class="" href="{:Url('admin/Setup/proportion')}" th:href="@{/admin/Setup/proportion}">参数设置</a>
                          </li>
                          <!--{if $contrname == 'Setup' && $actionname == 'addsetup'} class="active" {/if}-->
                          <li  th:class="${contrname == 'Setup' && actionname == 'addsetup'} ? 'active' : ''" >
                            <a class="" href="{:Url('admin/Setup/addsetup')}" th:href="@{/admin/Setup/addsetup}">添加配置</a>
                          </li>
                          <!--{if $contrname == 'Setup' && $actionname == 'deploy'} class="active" {/if}-->
                          <li th:class="${contrname == 'Setup' && actionname == 'deploy'} ? 'active' : ''" >
                            <a class="" href="{:Url('admin/Setup/deploy')}" th:href="@{/admin/Setup/deploy}">配置管理</a>
                          </li>
                      </ul>
                  </li>
                  <!--{if $contrname == 'System' } class="active" {else /} class="sub-menu" {/if}-->

                  <li th:class="${contrname == 'System'} ? 'active' : 'sub-menu'">
                      <a href="javascript:;" class="">
                          <i class="icon-cogs"></i>
                          <span>系统设置</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <!--{if $actionname == 'adminadd' } class="active" {/if}-->
                          <li th:class="${actionname == 'adminadd'} ? 'active' : ''"><a class="" href="{:Url('admin/system/adminadd')}" th:href="@{/admin/system/adminadd}">添加管理员</a></li>
                          <!--{if $actionname == 'adminlist' } class="active" {/if}-->
                          <li th:class="${actionname == 'adminlist'} ? 'active' : ''"><a class="" href="{:Url('admin/system/adminlist')}" th:href="@{/admin/system/adminlist}">管理员列表</a></li>
                          <!--{if $actionname == 'banks' } class="active" {/if}-->
                          <li th:class="${actionname == 'banks'} ? 'active' : ''"><a class="" href="{:Url('admin/system/banks')}" th:href="@{/admin/system/banks}">提现银行卡</a></li>
                          <!--{if $actionname == 'recharge' || $actionname ==  'addrech' } class="active" {/if}-->
                          <li th:class="${actionname == 'recharge'|| actionname == 'addrech'} ? 'active' : ''"><a class="" href="{:Url('admin/system/recharge')}" th:href="@{/admin/system/recharge}">充值配置</a></li>
                          <!--{if $actionname == 'setwx' } class="active" {/if}-->
                          <li th:class="${actionname == 'setwx'} ? 'active' : ''"><a class="" href="{:Url('admin/system/setwx')}" th:href="@{/admin/system/setwx}">微信设置</a></li>
                          <!--{if $actionname == 'dbbase' } class="active" {/if}-->
                          <li th:class="${actionname == 'dbbase'} ? 'active' : ''" ><a class="" href="{:Url('admin/system/dbbase')}" th:href="@{/admin/system/dbbase}">数据备份</a></li>

                      </ul>
                  </li>

                  </div>

                  <li>
                      <a class=""th:href="@{/admin/logout}">
                          <i class="icon-signout"></i>
                          <span>退出</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

