<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{admin/head :: headFragment}"></div>
<div th:insert="~{admin/menu :: menuFragment}"></div>
<div th:insert="~{admin/head :: sectionFragment}"></div>

<section id="main-content">
    <section class="wrapper">

		<div class="row">
              <div class="col-lg-8">
				<section class="panel">
                          <header class="panel-heading">
                              添加配置
                          </header>
                          <div class="panel-body">
                              <form class="form-horizontal" role="form" id="formid" action="" method="post">
                                  <!--{if isset($id)}-->
                                  <input type="hidden" th:value="${vo.id != null}?${vo.id}:''" name="id">
                                  <!--{/if}-->
                                  <div class="form-group">
                                      <label for="inputEmail1" class="col-lg-2 control-label">配置标识</label>
                                      <div class="col-lg-10">
                                          <input type="text" class="form-control"  name="name" th:value="${vo.name!=null}?${vo.name}:''">
                                          <p class="help-block">用于函数调用，只能使用英文且不能重复</p>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="inputPassword1" class="col-lg-2 control-label">配置标题</label>
                                      <div class="col-lg-10">
                                          <input type="text" class="form-control"  name="title" th:value="${vo.title!=null}?${vo.title}:''">
                                          <p class="help-block">用于后台显示的配置标题</p>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="inputEmail1" class="col-lg-2 control-label">排序</label>
                                      <div class="col-lg-10">
                                          <input type="text" class="form-control" name="sort" th:value="${vo.sort!=null}?${vo.sort}:''" >
                                          <p class="help-block">用于分组显示的顺序</p>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="inputPassword1" class="col-lg-2 control-label">配置类型</label>
                                      <div class="col-lg-10">
                                          <select name="type" id="" class="selectpicker show-tick form-control">
                                            <option th:selected="${vo.type!=null&&vo.type == 1}"  value="1">字符</option>
                                            <option th:selected="${vo.type!=null&&vo.type == 2}" value="2">文本</option>
                                            <option th:selected="${vo.type!=null&&vo.type == 3}" value="3">图片</option>
                                          </select>
                                          <p class="help-block">系统会根据不同类型解析配置值</p>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label for="inputPassword1" class="col-lg-2 control-label">配置分组</label>
                                      <div class="col-lg-10">
                                          <select name="group" id="" class="selectpicker show-tick form-control">
                                            <option th:selected="${vo.group!=null&&vo.group == 2}"  value="2">参数配置</option>
                                            <option th:selected="${vo.group!=null&&vo.group == 1}" value="1">基本配置</option>
                                          </select>
                                          <p class="help-block">配置分组 用于批量设置 不分组则不会显示在系统设置中</p>
                                      </div>
                                  </div>

                                  <div class="form-group">
                                      <label for="inputEmail1" class="col-lg-2 control-label">说明</label>
                                      <div class="col-lg-10">
                                          <input type="text" class="form-control" name="extra" th:value="${vo.extra!=null}?${vo.extra}:''" >
                                          <p class="help-block">用于对配置的说明</p>
                                      </div>
                                  </div>

                                  
                                  <div class="form-group">
                                      <div class="col-lg-offset-2 col-lg-10">
                                          <button type="submit" class="btn btn-danger" onclick="return addsetup(this.form);">添加</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </section>
              </div>
		</div>
		

  	</section>
</section>
<div th:insert="~{admin/foot :: footerFragment}"></div>
<script>

function addsetup(form) {
    var name = form.name.value;
    var title = form.title.value;

    if(!name){
        layer.msg('请输入配置标识');
        return false;
    }
    if(!title){
        layer.msg('请输入配置标题'); 
        return false;
    }
    var formurl = "updatesetup";
    var data = $('#formid').serialize();
    var gourl = "deploy";

    WPpost(formurl,data,gourl);
    
    return false;
}
</script>