<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shengpingj.kuntai.mapper.WP_Config1Mapper" >
  <resultMap id="BaseResultMap" type="com.shengpingj.kuntai.pojo.WP_Config1" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="group" property="group" jdbcType="TINYINT" />
    <result column="extra" property="extra" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="sort" property="sort" jdbcType="SMALLINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.shengpingj.kuntai.pojo.WP_Config1" extends="BaseResultMap" >
    <result column="value" property="value" jdbcType="LONGVARCHAR" />
  </resultMap>
  <!--<sql id="Example_Where_Clause" >-->
    <!--<where >-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or" >-->
        <!--<if test="criteria.valid" >-->
          <!--<trim prefix="(" suffix=")" prefixOverrides="and" >-->
            <!--<foreach collection="criteria.criteria" item="criterion" >-->
              <!--<choose >-->
                <!--<when test="criterion.noValue" >-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue" >-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue" >-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue" >-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause" >-->
    <!--<where >-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or" >-->
        <!--<if test="criteria.valid" >-->
          <!--<trim prefix="(" suffix=")" prefixOverrides="and" >-->
            <!--<foreach collection="criteria.criteria" item="criterion" >-->
              <!--<choose >-->
                <!--<when test="criterion.noValue" >-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue" >-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue" >-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue" >-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Base_Column_List" >-->
    <!--id, name, type, title, group, extra, remark, create_time, update_time, status, sort-->
  <!--</sql>-->
  <!--<sql id="Blob_Column_List" >-->
    <!--value-->
  <!--</sql>-->
  <!--<select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.shengpingj.kuntai.pojo.WP_Config1Example" >-->
    <!--select-->
    <!--<if test="distinct" >-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    <!--from wp_config1-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null" >-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shengpingj.kuntai.pojo.WP_Config1Example" >-->
    <!--select-->
    <!--<if test="distinct" >-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from wp_config1-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null" >-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    <!--from wp_config1-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
    <!--delete from wp_config1-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<delete id="deleteByExample" parameterType="com.shengpingj.kuntai.pojo.WP_Config1Example" >-->
    <!--delete from wp_config1-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.shengpingj.kuntai.pojo.WP_Config1" >-->
    <!--insert into wp_config1 (id, name, type, -->
      <!--title, group, extra, -->
      <!--remark, create_time, update_time, -->
      <!--status, sort, value-->
      <!--)-->
    <!--values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, -->
      <!--#{title,jdbcType=VARCHAR}, #{group,jdbcType=TINYINT}, #{extra,jdbcType=VARCHAR}, -->
      <!--#{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, -->
      <!--#{status,jdbcType=TINYINT}, #{sort,jdbcType=SMALLINT}, #{value,jdbcType=LONGVARCHAR}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.shengpingj.kuntai.pojo.WP_Config1" >-->
    <!--insert into wp_config1-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="name != null" >-->
        <!--name,-->
      <!--</if>-->
      <!--<if test="type != null" >-->
        <!--type,-->
      <!--</if>-->
      <!--<if test="title != null" >-->
        <!--title,-->
      <!--</if>-->
      <!--<if test="group != null" >-->
        <!--group,-->
      <!--</if>-->
      <!--<if test="extra != null" >-->
        <!--extra,-->
      <!--</if>-->
      <!--<if test="remark != null" >-->
        <!--remark,-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--create_time,-->
      <!--</if>-->
      <!--<if test="updateTime != null" >-->
        <!--update_time,-->
      <!--</if>-->
      <!--<if test="status != null" >-->
        <!--status,-->
      <!--</if>-->
      <!--<if test="sort != null" >-->
        <!--sort,-->
      <!--</if>-->
      <!--<if test="value != null" >-->
        <!--value,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="name != null" >-->
        <!--#{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="type != null" >-->
        <!--#{type,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="title != null" >-->
        <!--#{title,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="group != null" >-->
        <!--#{group,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="extra != null" >-->
        <!--#{extra,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null" >-->
        <!--#{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--#{createTime,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="updateTime != null" >-->
        <!--#{updateTime,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="status != null" >-->
        <!--#{status,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="sort != null" >-->
        <!--#{sort,jdbcType=SMALLINT},-->
      <!--</if>-->
      <!--<if test="value != null" >-->
        <!--#{value,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="com.shengpingj.kuntai.pojo.WP_Config1Example" resultType="java.lang.Integer" >-->
    <!--select count(*) from wp_config1-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map" >-->
    <!--update wp_config1-->
    <!--<set >-->
      <!--<if test="record.id != null" >-->
        <!--id = #{record.id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.name != null" >-->
        <!--name = #{record.name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.type != null" >-->
        <!--type = #{record.type,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="record.title != null" >-->
        <!--title = #{record.title,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.group != null" >-->
        <!--group = #{record.group,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="record.extra != null" >-->
        <!--extra = #{record.extra,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.remark != null" >-->
        <!--remark = #{record.remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.createTime != null" >-->
        <!--create_time = #{record.createTime,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.updateTime != null" >-->
        <!--update_time = #{record.updateTime,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.status != null" >-->
        <!--status = #{record.status,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="record.sort != null" >-->
        <!--sort = #{record.sort,jdbcType=SMALLINT},-->
      <!--</if>-->
      <!--<if test="record.value != null" >-->
        <!--value = #{record.value,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExampleWithBLOBs" parameterType="map" >-->
    <!--update wp_config1-->
    <!--set id = #{record.id,jdbcType=INTEGER},-->
      <!--name = #{record.name,jdbcType=VARCHAR},-->
      <!--type = #{record.type,jdbcType=TINYINT},-->
      <!--title = #{record.title,jdbcType=VARCHAR},-->
      <!--group = #{record.group,jdbcType=TINYINT},-->
      <!--extra = #{record.extra,jdbcType=VARCHAR},-->
      <!--remark = #{record.remark,jdbcType=VARCHAR},-->
      <!--create_time = #{record.createTime,jdbcType=INTEGER},-->
      <!--update_time = #{record.updateTime,jdbcType=INTEGER},-->
      <!--status = #{record.status,jdbcType=TINYINT},-->
      <!--sort = #{record.sort,jdbcType=SMALLINT},-->
      <!--value = #{record.value,jdbcType=LONGVARCHAR}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map" >-->
    <!--update wp_config1-->
    <!--set id = #{record.id,jdbcType=INTEGER},-->
      <!--name = #{record.name,jdbcType=VARCHAR},-->
      <!--type = #{record.type,jdbcType=TINYINT},-->
      <!--title = #{record.title,jdbcType=VARCHAR},-->
      <!--group = #{record.group,jdbcType=TINYINT},-->
      <!--extra = #{record.extra,jdbcType=VARCHAR},-->
      <!--remark = #{record.remark,jdbcType=VARCHAR},-->
      <!--create_time = #{record.createTime,jdbcType=INTEGER},-->
      <!--update_time = #{record.updateTime,jdbcType=INTEGER},-->
      <!--status = #{record.status,jdbcType=TINYINT},-->
      <!--sort = #{record.sort,jdbcType=SMALLINT}-->
    <!--<if test="_parameter != null" >-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.shengpingj.kuntai.pojo.WP_Config1" >-->
    <!--update wp_config1-->
    <!--<set >-->
      <!--<if test="name != null" >-->
        <!--name = #{name,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="type != null" >-->
        <!--type = #{type,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="title != null" >-->
        <!--title = #{title,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="group != null" >-->
        <!--group = #{group,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="extra != null" >-->
        <!--extra = #{extra,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="remark != null" >-->
        <!--remark = #{remark,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--create_time = #{createTime,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="updateTime != null" >-->
        <!--update_time = #{updateTime,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="status != null" >-->
        <!--status = #{status,jdbcType=TINYINT},-->
      <!--</if>-->
      <!--<if test="sort != null" >-->
        <!--sort = #{sort,jdbcType=SMALLINT},-->
      <!--</if>-->
      <!--<if test="value != null" >-->
        <!--value = #{value,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.shengpingj.kuntai.pojo.WP_Config1" >-->
    <!--update wp_config1-->
    <!--set name = #{name,jdbcType=VARCHAR},-->
      <!--type = #{type,jdbcType=TINYINT},-->
      <!--title = #{title,jdbcType=VARCHAR},-->
      <!--group = #{group,jdbcType=TINYINT},-->
      <!--extra = #{extra,jdbcType=VARCHAR},-->
      <!--remark = #{remark,jdbcType=VARCHAR},-->
      <!--create_time = #{createTime,jdbcType=INTEGER},-->
      <!--update_time = #{updateTime,jdbcType=INTEGER},-->
      <!--status = #{status,jdbcType=TINYINT},-->
      <!--sort = #{sort,jdbcType=SMALLINT},-->
      <!--value = #{value,jdbcType=LONGVARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.shengpingj.kuntai.pojo.WP_Config1" >-->
    <!--update wp_config1-->
    <!--set name = #{name,jdbcType=VARCHAR},-->
      <!--type = #{type,jdbcType=TINYINT},-->
      <!--title = #{title,jdbcType=VARCHAR},-->
      <!--group = #{group,jdbcType=TINYINT},-->
      <!--extra = #{extra,jdbcType=VARCHAR},-->
      <!--remark = #{remark,jdbcType=VARCHAR},-->
      <!--create_time = #{createTime,jdbcType=INTEGER},-->
      <!--update_time = #{updateTime,jdbcType=INTEGER},-->
      <!--status = #{status,jdbcType=TINYINT},-->
      <!--sort = #{sort,jdbcType=SMALLINT}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>